// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$primary-colour: #48d3ff;
$secondary-colour: #171b1d;
$grey: #E7E7E7;

